.input{
    width: 50%;
    background: white;
    border-radius: 30px;
    position: relative;
   
}
.input .css-8ewcdo-MuiInputBase-root-MuiOutlinedInput-root{
    border-radius: 30px;
   
}
.input:hover .css-8ewcdo-MuiInputBase-root-MuiOutlinedInput-root{
    border: 1px solid transparent;
 
}
.input textarea{
    padding-left: 130px;
}
.inputMain{
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    margin: 40px 10% ;
    
}

.inputIcon{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: white;
    display: flex;
    align-items: center;
    color:grey;
}
.inputIcon:hover{
    background: rgb(68, 68, 245);
}
.attachIcon{
    position: absolute;
    bottom: 20%;
    right:2%;
    transform: rotate(45deg);
    color:grey;
}
.smileIcon{
    position: absolute;
    bottom: 20%;
    left:2%;
    color:grey;
  
}   
